<div id="versatile-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<h1><%= t('.page_title') %></h1>
			<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>

			<div class="bordered-block">
				<h2>
					<%= current_user.system_staff? ? t('.system_bookmark') : t('.private_bookmark') %>
				</h2>

				<div>
					<div style="padding-left: 1rem;">
						<% if @editable_bookmarks.size < BOOKMARK_MAX_SIZE %>
						<%= form_tag({action: 'ajax_create', display_order: @editable_bookmarks.size + 1}, {class: 'form-inline', style: 'padding: 4px;', remote: true}) do %>
						<%= text_field_tag :display_title, @display_title, {class: 'form-control', placeholder: t('activerecord.attributes.bookmark.title'), style: 'margin-right:16px;'} %>
						<%= text_field_tag :url, @url, {class: 'form-control', placeholder: 'URL', style: 'margin-right:16px;'} %>
						<%= render partial: 'layouts/buttons/create' %>
						<div><%= t('.same_url_bookmark') %></div>
						<% end %>
						<% else %>
						<%= t('.exceeding_the_upper_limit', size: BOOKMARK_MAX_SIZE) %>
						<%=  %>
						<% end %>
					</div>
				</div>
				<div style="margin-top: 20px;">
					<% if @editable_bookmarks.size > 0 %>
					<h3><%= t('.created_bookmark') %></h3>
					<div id="bookmarks" style="padding-left: 20px; overflow: auto;">
						<%= render partial: 'bookmark', collection: @editable_bookmarks %>
					</div>
					<% end %>
				</div>
			</div>

			<% if (@system_bookmarks.size > 0) && !current_user.system_staff? %>
			<div class="bordered-block">
				<h2><%= t('.system_bookmark') %>
					<div class="header-explanation"><%= t('.unchangeable') %></div>
				</h2>
				<% @system_bookmarks.each do |bookmark| %>
				<div style="padding-left: 20px;">
					<label><%= bookmark.display_order %>. <%=bookmark.display_title %>, <%= bookmark.url %></label>
				</div>
				<% end %>

			</div>
			<% end %>
			<%= render partial: 'layouts/buttons/ok', locals: {action_hash: {controller: 'preferences', action: 'ajax_index', nav_section: 'home'}} %>
		</div>
	</div>
</div>


<script>
$(function () {
	sortBookmarks();
});
</script>
