<% if (@editting_notice and (open_notice.id == @editting_notice.id)) %>
    <% tr_class = "editting" %>
<% else %>
    <% tr_class = "" %>
<% end %>
<tr class="<%= tr_class %>">
  <td><%= open_notice.message %></td>
  <td class="update_col"><%= format_time open_notice.updated_at, "mdhm" %></td>
  <td class="operation_col">
    <%= link_to(t("views.edit"), {controller: "notices", action: "ajax_edit", id: @course.id, notice_id: open_notice.id}, {class: "bright-link", remote: true}) %>
  </td>
  <td class="operation_col">
    <%= link_to("公開終了", {controller: "notices", action: "ajax_expire", id: @course.id, notice_id: open_notice.id}, {class: "bright-link", remote: true}) %>
  </td>
</tr>
