<div id="note-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <!-- With Groups -->
      <!-- #FIXME: Group work -->
      <% staff_notes = @notes.select{|s| @course.staff? s.manager_id} %>
      <% group_notes = @notes.select{|s| (s.group_id == @group_id) && (@course.learner? s.manager_id)} %>

      <% if staff_notes.size + group_notes.size == 0 %>
      <div class="block">
        <%= render partial: "layouts/system_message", locals: {message: "現在、公開されているノートは、ありません。", message_category: 'info'} %>
      </div>
      <% else %>
      <% if staff_notes.size > 0 %>
      <div class="clearfix">
        <%= render partial: "note", collection: staff_notes, locals: {resource: "group_index", droppable: false} %>
      </div>
      <% end %>

      <!-- Peer Review -->
      <% if @course.master_review_notes.size > 0 %>
      <% group_notes = group_notes.sort! {|a, b| a.id <=> b.id} %>
      <% peer_review = get_peer_review group_notes, @group_id, session[:id] %>
      <% if peer_review[:eval].length > 0 %>
      <div style="margin-top: 5px;">
        <h2>相互評価の対象ノート</h2>
        <p>以下の<%= peer_review[:eval].size %>つのノートに、相互評価（ふせんやスターの活動）をして下さい。相互評価の対象は人により異なります。</p>
        <%= render partial: "note", collection: peer_review[:eval], locals: {resource: "group_index", droppable: false} %>
      </div>
      <% end %>
      <% if peer_review[:noeval].size > 0 %>
      <div style="margin-top: 20px; padding-top: 30px; clear: both;">
        <h2>相互評価の非対象ノート</h2>
        <p>以下のノートには、あなたは相互評価（ふせんやスターの活動）をしなくて構いません。</p>
        <%= render partial: "note", collection: peer_review[:noeval], locals: {resource: "group_index", droppable: false} %>
      </div>
      <% end %>
      <%= render(partial: "peer_review_summary", locals: {group_notes: group_notes}) if @course.staff? session[:id] %>

      <% else %>
      <div style="margin-top: 10px;">
        <%= render partial: "note", collection: group_notes, locals: {resource: "group_index", droppable: false} %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
