<div id="note-header" class="note-header-card card">
  <div class="card-body">
    <% if session[:nav_section] == 'open_courses' %>
    <div class="triangle-corner <%= note_star_btn_class session[:id], @note %>">
      <%= link_to( raw("<i class='fa fa-star fa-lg'></i>"), {action: 'ajax_toggle_star', id: @note.id, resource: 'show'}, {remote: true}) %>
    </div>
    <% end %>
    <%= render partial: 'notes/subtitle', locals: {note: @note, char_limit: 20} %>
    <h1 class="card-title"><%= @note.title %></h1>
  </div>

  <div class="card-body-flex">
    <div class="side-area">
      <% case @note.category when 'work' %>
      <% obj = (@course && @course.learner?(session[:id]) && @note.anonymous?(session[:id])) ? nil : @note.manager %>
      <%= render partial: 'layouts/image', locals: {obj: obj, fa_class: 'fa-user', img_px: '80'} %>
      <div class="caption">
        <% if obj.nil? %>
        ---
        <% else %>
        <%= @note.manager.full_name %>
        <% end %>
      </div>
      <% else %>
      <%= render partial: 'layouts/image', locals: {obj: nil, fa_class: 'fa-file-text', img_px: '80'} %>
      <% end %>
    </div>
    <div class="main-area">
      <p class="overview"><%= @note.overview %></p>
      <%= render(partial: 'notes/header_index', locals: {headers: NoteIndex.headers(@note_items)}) %>
    </div>
  </div>

  <div class="card-footer">
    <div class="align-left" title="<%= t('helpers.char_count') %>">
      <i class='fa fa-font fa-lg'></i><%= @note.snippets_char_count('all') %> <span title="<%= t('.written_char_count') %>">(<i class='fa fa-user fa-lg'></i><%= @note.snippets_char_count('direct') %>)</span> <%= t('.characters') %>
    </div>
    <div class="align-left" title="<%= t('.media_count') %>">
      <i class='fa fa-picture-o fa-lg'></i><%= @note.snippets_media_count "all" %> <span title="<%= t('.uploaded_media_count') %>"> (<i class='fa fa-user fa-lg'></i><%= @note.snippets_media_count "upload" %>)</span> <%= t('.pieces') %>
    </div>
    <div class="align-left" title="<%= t('.referenced_web_count') %>">
      <i class='fa fa-globe fa-lg'></i><%= @note.reference_ids.size %> <%= t('.pages') %>
    </div>
    <% if @note.stars_count > 0 %>
    <div class="align-left" title="<%= t('.star_count') %>">
      <i class='fa fa-star fa-lg'></i><%= @note.stars_count %> <%= t('.pieces') %>
    </div>
    <% end %>
    <div class="align-right" title="<%= l(@note.updated_at, format: :long)  %>">
      <%= l(@note.updated_at, format: :short)  %>
    </div>
  </div>

  <script>
  $(function () {
    $(".scroll").click(function(event){
      event.preventDefault();
      var url = this.href;
      var parts = url.split("#");
      var header = $("#"+parts[1]).offset();
      var pane_top = $(".scroll-pane").offset();
      $(".scroll-pane").animate({scrollTop:(header.top-pane_top.top)}, 500);
    });
  });
  </script>
</div>
