<% case session[:nav_section] when 'home' %>
<% action = controller.action_name %>
<% if action == 'ajax_new' %>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
  <%= render partial: 'layouts/buttons/toolbar_create', locals: {onclick_txt: "$('#note_form').submit()"} %>
</div>

<% elsif (action == 'ajax_edit') || ((action == 'ajax_destroy') && !@note.destroyed?) %>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_show', id: @note.id}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
  <%= render partial: 'layouts/buttons/toolbar_update', locals: {onclick_txt: "$('#note_form').submit()"} %>
</div>

<% elsif (action == 'ajax_index') || (action == 'ajax_destroy') %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['']]} %>
</nav>
<div id="toolbar-btns">
<% if current_user.work_sheet_manageable? %>
<div class="btn-group">
  <a class="toolbar-btn dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"><i class='fa fa-plus'></i> <%= t('activerecord.models.note') %></a>
  <div class="dropdown-menu">
    <%= link_to({action: 'ajax_new', category: 'private'}, {class: 'dropdown-item', remote: true}) do %>
    <i class='fa fa-plus'></i> <%= t('activerecord.others.note.category.private') %>
    <% end %>
    <%= link_to({action: 'ajax_new', category: 'work'}, {class: 'dropdown-item', remote: true}) do %>
    <i class='fa fa-plus'></i> <%= t('activerecord.others.note.category.work') %>
    <% end %>
  </div>
</div>
<% else %>
<%= link_to({action: 'ajax_new', category: 'private'}, {class: 'toolbar-btn', remote: true}) do %>
<i class='fa fa-plus'></i> <%= t('activerecord.others.note.category.private') %>
<% end %>
<% end %>
</div>

<% else %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [@note.title]]} %>
</nav>
<% if (@note.manager? session[:id]) && @note.category != 'lesson' %>
<div id="toolbar-btns">
  <div class="btn-group">
    <a class="toolbar-btn dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"><i class="fa fa-cog fa-2x"></i> <%= t('.preferences') %></a>
    <div class="dropdown-menu">
      <%= render partial: 'layouts/buttons/edit', locals: {action_hash: {action: 'ajax_edit', id: @note.id}, id_attr: 'toolbar-edit-btn'} %>
      <%= link_to({controller: 'notes', action: 'export_html', id: @note.id}, {class: 'dropdown-item', target: '_blank'}) do %>
      <i class="fa fa-share"></i> <%= t('.export') %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>


<% when 'open_courses' %>
<% case action_name when 'ajax_index' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['']]} %>
</nav>

<% when 'ajax_index_in_group' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section], nav_id: @course.id}], [t('.group', index: @group_index + 1)]]} %>
</nav>

<% when 'ajax_show', 'ajax_show_from_others' %>
<% if @course.groups_count == 1 %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section], nav_id: @course.id}], [@note.title]]} %>
</nav>

<% else %>
<% gid = @course.group_index_for @note.manager_id %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section], nav_id: @course.id}], [t('.group', index: gid + 1), {action: 'ajax_index_in_group', group_index: gid}], [@note.title]]} %>
</nav>
<% end %>
<% if @note.category == 'work' && @note.status='original_ws' %>
<div id="toolbar-btns">
  <div class="btn-group">
    <div id="sticky-toolbar">
      <% url_hash = {action: 'ajax_arrange_sticky_panel', target_type: 'Note', target_id:  @sticky.target_id, sticky_panel: 'show'} %>
      <%= render partial: 'stickies/toolbar', locals: {stickies: @stickies, url_hash: url_hash} %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>
