<div class="resources-card card">
  <% if session[:nav_section] == 'home' %>
  <h2 class="card-header"><%= t('.manual') %></h2>
  <div class="card-body" style="color:#000;">
    <p class="card-text" style="color:#000;margin-bottom:20px;">
      下の教材一覧には、LePoの操作マニュアルなどが表示されます。
    </p>
    <% else %>
    <div class="card-body" style="color:#000;">
      <% end %>
      <% if @contents.empty? %>
      <%= t('.no_contents') %>
      <% else %>
      <!-- header -->
      <div class="row list-header">
        <div class="inner-row">
          <% case session[:nav_section] when 'home' %>
          <div class="large-3x col">
            <div><%= t('activerecord.attributes.content.title') %></div>
          </div>
          <div class="medium col">
            <div><%= t('.updated_at') %></div>
          </div>
          <% when 'repository' %>
          <div class="small-2x col">
            <div></div>
          </div>
          <div class="small col">
          </div>
          <div class="large-4x col">
            <div><%= t('activerecord.attributes.content.title') %></div>
          </div>
          <div class="medium col">
            <div><%= t('.course_num') %></div>
          </div>
          <div class="medium col">
            <div><%= t('.updated_at') %></div>
          </div>
          <% end %>
        </div>
      </div>

      <!-- body -->
      <% @contents.each do |content| %>
      <div id="<%= selected_id(content == @content) %>" class="row <%= cycle('even-row', 'odd-row') %>">
        <div class="inner-row">
          <% case session[:nav_section] when 'home' %>
          <div class="large-3x col"><%= link_to_resource("#{content.title} (#{t('.pages', num: content.file_pages.size)})", content.id, {}) %></div>
          <div class="medium col"><%= link_to_resource(l(content.updated_at, format: :short), content.id, {}) %></div>

          <% when "repository" %>
          <% icon_info = content_icon_info(content.status) %>
          <div class="small-2x col"><%= link_to_resource("<i class='#{icon_info[:class]}'></i>", content.id, {title: icon_info[:text]}) %></div>
          <div class="small col">
            <% role = ContentMember.find_by(user_id: session[:id], content_id: content.id).role %>
            <%= link_to_resource(t("activerecord.others.content_member.role.#{role}"), content.id, {}) %>
          </div>
          <div class="large-4x col"><%= link_to_resource("#{content.title} (#{t('.pages', num: content.file_pages.size)})", content.id, {}) %></div>
          <div class="medium col"><%= link_to_resource("#{content.courses.size.to_s}", content.id, {}) %></div>
          <div class="medium col"><%= link_to_resource(l(content.updated_at, format: :short), content.id, {}) %></div>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
