<div id="content-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('.content_file_edit') %>
        <div class="header-explanation"><%= t('.max_file_size', size: CONTENT_MAX_FILE_SIZE) %></div>
      </h1>
      <%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.page') %>
          <div class="header-explanation"><%= t('.page_file_explanation') %></div>
        </h2>
        <div class="form-side-area">
          <%= form_for :page_file, url: {action: :ajax_upload_page_file, id: @content.id}, html: {id: 'page-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= f.hidden_field :display_order, value: @content.file_pages.size + 1 %>

          <%= render partial: 'layouts/buttons/file_submit', locals: {f: f, file_category: 'page'} %>
          <% end %>
          <ul style="padding: 1rem 0.5rem 0 1.5rem;">
            <li><%= t('.page_file_content_type') %></li>
            <li><%= t('.page_file_sort') %></li>
          </ul>
        </div>
        <div class="form-main-area">
          <div id="page-files" class="files" style="overflow: auto;">
            <%= render partial: 'file', locals: {file_category: 'page'}, collection: @content.file_pages %>
          </div>
        </div>
      </div>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.asset_file') %>
          <div class="header-explanation"><%= t('.asset_file_explanation') %></div>
        </h2>
        <div class="form-side-area">
          <%= form_for :asset_file, url: {action: :ajax_upload_asset_file, id: @content.id}, html: {id: 'asset-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= render partial: 'layouts/buttons/file_submit', locals: {f: f, file_category: 'asset'} %>
          <% end %>
          <ul style="padding: 1rem 0.5rem 0 1.5rem;">
            <li><%= t('.asset_file_content_type') %></li>
            <li><%= t('.asset_file_upload_folder') %></li>
          </ul>
        </div>
        <div class="form-main-area">
          <div id="asset-files" class="files">
            <%= render partial: 'file', locals: {file_category: 'asset'}, collection: @content.asset_files %>
          </div>
        </div>
      </div>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.attachment_file') %>
          <div class="header-explanation"><%= t('.attachment_file_explanation') %></div>
        </h2>
        <div class="form-side-area">
          <%= form_for :attachment_file, url: {action: :ajax_upload_attachment_file, id: @content.id}, html: {id: 'attachment-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= render partial: 'layouts/buttons/file_submit', locals: {f: f, file_category: 'attachment'} %>
          <% end %>
          <ul style="padding: 1rem 0.5rem 0 1.5rem;">
            <li><%= t('.attachment_file_content_type') %></li>
            <li><%= t('.attachment_file_upload_folder') %></li>
          </ul>
        </div>
        <div class="form-main-area">
          <div id="attachment-files" class="files">
            <%= render partial: 'file', locals: {file_category: 'attachment'}, collection: @content.attachment_files %>
          </div>
        </div>
      </div>

      <p>
        <%= render partial: 'layouts/buttons/back', locals: {action_hash: {action: 'ajax_edit', id: @content.id}} %>
        <span style="margin-left: 1rem;">
          <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_show', id: @content.id}} %>
        </span>
      </p>

    </div>
  </div>
</div>

<script>
$(function () {
  sortPages (<%= @content.id %>);
  fileSubmitStatus("page");
  fileSubmitStatus("asset");
  fileSubmitStatus("attachment");
});
</script>
