<div id="content-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <h1>教材ファイルの設定
        <div class="header-explanation">1ファイル<%= CONTENT_MAX_FILE_SIZE %>MBまでアップロード可能</div>
      </h1>
      <%= render partial: "layouts/system_message", locals: {message: flash[:message], message_category: flash[:message_category]} %>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.page_file') %>
          <div class="header-explanation">教材のページを構成するファイル</div>
        </h2>
        <div class="form-side-area">
          <%= form_for :page_file, url: {action: :ajax_upload_page_file, id: @content.id}, html: {id: 'page-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= f.hidden_field :display_order, value: @content.page_files.size+1 %>

          <%= render partial: 'layouts/file_submit_button', locals: {f: f, file_category: 'page', form_id: 'page-file-upload'} %>
          <% end %>
          <div style="margin-top: 8px;">・html, 画像(gif, jpg, png), 映像(f4v, mov)に対応</div>
          <div>・ドラッグ＆ドロップでページ順を変更可能</div>
        </div>
        <div class="form-main-area">
          <div id="page-files" class="files" style="overflow: auto;">
            <%= render partial: 'file', locals: {file_category: 'page'}, collection: @content.page_files %>
          </div>
        </div>
      </div>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.asset_file') %>
          <div class="header-explanation">ページファイルで用いる画像ファイル等</div>
        </h2>
        <div class="form-side-area">
          <%= form_for :asset_file, url: {action: :ajax_upload_asset_file, id: @content.id}, html: {id: 'asset-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= render partial: "layouts/file_submit_button", locals: {f: f, file_category: 'asset', form_id: 'asset-file-upload'} %>
          <% end %>
          <div style="margin-top: 8px;">・全てのファイル形式に対応</div>
          <div>・ページファイルと同じフォルダにアップロード</div>
        </div>
        <div class="form-main-area">
          <div id="asset-files" class="files">
            <%= render partial: 'file', locals: {file_category: 'asset'}, collection: @content.asset_files %>
          </div>
        </div>
      </div>

      <div class="bordered-block clearfix">
        <h2><%= t('activerecord.models.attachment_file') %>
          <div class="header-explanation">教材表紙に添付するファイル</div>
        </h2>
        <div class="form-side-area">
          <%= form_for :attachment_file, url: {action: :ajax_upload_attachment_file, id: @content.id}, html: {id: 'attachment-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
          <%#= f.error_messages %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= render partial: 'layouts/file_submit_button', locals: {f: f, file_category: 'attachment', form_id: 'attachment-file-upload'} %>
          <% end %>
          <div style="margin-top: 8px;">・全てのファイル形式に対応</div>
          <div>・ページ・素材ファイルと異なるフォルダにアップロード</div>
        </div>
        <div class="form-main-area">
          <div id="attachment-files" class="files">
            <%= render partial: 'file', locals: {file_category: 'attachment'}, collection: @content.attachment_files %>
          </div>
        </div>
      </div>

      <p>
        <%= render partial: 'layouts/buttons/back', locals: {action_hash: {action: 'ajax_edit', id: @content.id}, id_attr: 'back-btn'} %>
        <span style="margin-left: 1rem;">
          <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_show', id: @content.id}, id_attr: 'ok-btn', class_attr: 'btn btn-light btn-lg'} %>
        </span>
      </p>

    </div>
  </div>
</div>

<script>
$(function () {
  $('#page-files').sortable({
    axis:'y',
    opacity: 0.8,
    update:function () {
      $.ajax({
        url:'<%= Rails.application.config.relative_url_root %>/contents/ajax_sort_page_files/<%= @content.id %>',
        data:$(this).sortable('serialize')
      })
    }
  })

  $('#page-file-upload').change(function () {
    $('#page-file-form').submit();
    $('#page-file-submit-btn').css("display", "none")
    $('#page-file-progress-btn').css("display", "block")
  })

  $('#asset-file-upload').change(function () {
    $('#asset-file-form').submit();
    $('#asset-file-submit-btn').css("display", "none")
    $('#asset-file-progress-btn').css("display", "block")
  })

  $('#attachment-file-upload').change(function () {
    $('#attachment-file-form').submit();
    $('#attachment-file-submit-btn').css("display", "none")
    $('#attachment-file-progress-btn').css("display", "block")
  })

  $('*').ajaxStop(function () {
    $('#page-file-submit-btn').css("display", "block")
    $('#page-file-progress-btn').css("display", "none")
    $('#asset-file-submit-btn').css("display", "block")
    $('#asset-file-progress-btn').css("display", "none")
    $('#attachment-file-submit-btn').css("display", "block")
    $('#attachment-file-progress-btn').css("display", "none")
  });
});
</script>
