<%= form_for(@content, url: {action: submit_action, id: @content.id}, html: {id: 'content_form', name: 'content_form', class: "form-horizontal", remote: true}) do |content_form| %>
<%= render partial: "layouts/system_message", locals: {message: flash[:message], message_category: flash[:message_category]} %>
<%#= content_form.error_messages %>

<div class="bordered-block">
  <h2>基本情報</h2>
  <div class="form-group row">
    <%= content_form.label :title, raw("<span class='required'>*</span>タイトル"), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= content_form.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= content_form.label :overview, raw("<span class='required'>*</span>概要"), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= content_form.text_area :overview, class: "form-control", rows: "8" %>
    </div>
  </div>
  <div class="form-group row">
    <%= content_form.label :condition, '学習の条件', class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= content_form.text_area :condition, class: "form-control", rows: "5" %>
      <div class="form-text">学習に必要な知識や器具があれば記載</div>
    </div>
  </div>
  <div class="form-group row">
    <%= content_form.label :status, raw("<span class='required'>*</span>コースへの新規登録"), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= content_form.select :status, [["可能", "open"], ["不可能（アーカイブ）", "archived"]], {}, {class: "form-control"} %>
    </div>
  </div>
  <%= content_form.hidden_field :category, value: @content.category %>
</div>

<div class="bordered-block">
  <h2>学習目標
    <div class="header-explanation">教材の学習目標を、1〜<%= CONTENT_OBJECTIVE_MAX_SIZE %>個設定
    </div>
  </h2>
  <% editable = @content.editable_objectives? %>
  <% required = true %>
  <%= content_form.fields_for :objectives do |objective_form| %>
  <%= render partial: 'objective_form', locals: {required: required, editable: editable, objective_form: objective_form} %>
  <% required = false %>
  <% end %>

  <div class="form-group row">
    <div class="offset-sm-3 col-md-7">
      <ul class="form-list">
        <li>削除したい目標は、目標を空欄に設定</li>
        <li>各目標に設定した配点により、課題評価を実施</li>
        <li>全目標の配点合計は、1教材10点に規格化（10点になっていない場合は自動修正）</li>
        <li>課題提出が既にある教材は、目標の数、内容、配点の変更不可</li>
      </ul>
    </div>
  </div>
</div>

<div class="bordered-block">
  <h2>課題
    <div class="header-explanation">課題を必ず1つ設定</div>
  </h2>
  <div class="form-group row">
    <label class="col-md-3 col-form-label text-sm-right"><span class="required">*</span>種別</label>

    <div class="col-md-7">
      <%= content_form.select :as_category, get_assignment_categories, {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label text-sm-right">概要</label>
    <div class="col-md-7">
      <%= content_form.text_area :as_overview, class: "form-control", rows: "5" %>
    </div>
  </div>
</div>

<% if submit_action == 'ajax_create' %>
<%= link_to({action: 'ajax_index', nav_section: 'repository'}, {id: 'cancel-btn', class: 'btn btn-large btn-light', title: 'cancel', remote: true}) do %>
<i class="fa fa-times-circle fa-lg"></i> <%= t('views.cancel') %>
<% end %>
<% else %>
<%= link_to({action: 'ajax_show', id: @content.id}, {id: 'cancel-btn', class: 'btn btn-large btn-light', title: 'cancel', remote: true}) do %>
<i class="fa fa-times-circle fa-lg"></i> <%= t('views.cancel') %>
<% end %>
<% end %>
<button type="submit" class="btn btn-large btn-primary" style="margin-left: 10px;">
  <i class="fa fa-arrow-right fa-lg"></i> <%= t('views.navs.save_and_next') %>
</button>
<% end %>

<script>
$(function () {
  $('#content_title').focus();
})
</script>
