<div id="content-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12 block">
      <% case session[:nav_section] when 'home' %>
      <!-- Contents -->
      <%= render partial: 'contents/contents_card' if @contents.size > 0 %>
      <div class="card">
        <h2 class="card-header"><%= t('.recommended_browsers') %></h2>
        <div class="card-body">
          <p class="card-text"><%= t('.use_following_browsers') %></p>
          <ul>
            <li>Windows: Internet Explorer 11, Chrome (<%= t('.newest') %>)</li>
            <li>macOS: Chrome (<%= t('.newest') %>)</li>
          </ul>
          <p class="card-text"><%= t('.remarks_for_edge') %></p>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header"><%= t('.shortcut_keys') %></h2>
        <div class="card-body">
          <%= render 'layouts/shortcut_keys' %>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header"><%= t('.course_content_management') %></h2>
        <div class="card-body">
          <p class="card-text">
            システム管理者のみコースの登録が可能であり、特定のユーザをコース管理者に指定してコース登録することで、そのユーザがコースを管理できるようになります。
          </p>
          <p class="card-text">
            また、システム管理者、1つ以上のコースの管理者/アシスタントになっているユーザ、および1つ以上の教材のアシスタントになっているユーザは、教材を管理することができます。
          </p>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header"><%= t('.system_version') %></h2>
        <div class="card-body">
          <p class="card-text">
            <%= Rails.configuration.version %> (<%= t '.released_at' %> <%= l(Rails.configuration.version_date, format: :default) %>)
          </p>
        </div>
      </div>

      <% when 'repository' %>
      <div class="card-l course-border">
        <%= render partial: 'layouts/card_l', locals: {card: support_card_hash('content')} %>
      </div>

      <!-- Contents -->
      <%= render partial: 'contents/contents_card' %>
      <% end %>
    </div>
  </div>
</div>
