<nav id="sub-nav">
  <% crumbs = content_crumbs @content.title, session[:nav_section], session[:page_num] %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: crumbs} %>
  <%= render partial: 'layouts/page_number', locals: {pg: pg} %>
</nav>

<% if @content.staff? session[:id] %>
<div id="toolbar-btns">
  <div class="btn-group">
    <div id="sticky-toolbar">
      <% url_hash = {action: 'ajax_arrange_sticky_panel', content_id: @content.id, target_type: 'Page', target_id: pg['file_id'], sticky_panel: 'show'} %>
      <%= render partial: 'stickies/toolbar', locals: {stickies: pg['stickies'], url_hash: url_hash} %>
    </div>
  </div>

  <div class="btn-group">
    <a class="toolbar-btn dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;"><i class="fa fa-cog fa-2x"></i></a>
    <div class="dropdown-menu">
      <%= render partial: 'layouts/buttons/edit', locals: {action_hash: {controller: 'contents', action: 'ajax_edit', id: @content.id}, id_attr: 'toolbar-edit-btn'} %>
      <%= link_to({controller: 'content_members', action: 'ajax_edit', content_id: @content.id}, {class: 'dropdown-item', remote: true}) do %>
      <i class="fa fa-user"></i> <%= t('activerecord.models.content_member') + t('.edit') %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
