<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [[t('views.top')]]} %>
</nav>

<% case controller.action_name when 'index', 'ajax_index' %>
<% if (session[:nav_section] == 'repository') && (User.content_manageable? session[:id]) %>
<div id="toolbar-btns">
  <%= link_to({action: 'ajax_new', category: 'upload'}, {id: 'new-content-btn', class: 'toolbar-btn', remote: true}) do %>
  <i class='fa fa-plus'></i> <%= t('activerecord.models.content') %>
  <% end %>
</div>
<% end %>

<% when 'ajax_edit', 'ajax_new' %>
<div id="toolbar-btns">
  <% action_hash = controller.action_name == 'ajax_new' ? {action: 'ajax_index', nav_section: 'repository'} : {action: 'ajax_show', id: @content.id} %>
  <%= render partial: 'layouts/cancel_btn', locals: {action_hash: action_hash, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
  <%= link_to('javascript:void(0);', id: 'next-btn', onclick: "$('#content-form').submit()", class: 'toolbar-btn') do %>
  <i class="fa fa-arrow-right"></i> <%= t('views.save_and_next') %>
  <% end %>
</div>

<% when 'ajax_create', 'ajax_update' %>
<div id="toolbar-btns">
  <%= link_to({action: 'ajax_edit', id: @content.id}, {class: 'toolbar-btn', remote: true}) do %>
  <i class="fa fa-arrow-left"></i> 戻る
  <% end %>
  <%= link_to({action: 'ajax_show', id: @content.id}, {class: 'toolbar-btn', remote: true}) do %>
  <i class="fa fa-check-circle"></i> <%= t('views.ok') %>
  <% end %>
</div>
<% end %>
