<% file_category = "snippet-#{display_order}" %>
<%= form_for :snippet, url: {controller: :snippets, action: :ajax_create, display_order: display_order, note_id: note_id}, html: {id: file_category + '-file-form', multipart: true}, remote: true do |f| %>

<div id="<%= file_category %>-file-submit" class="file-submit-button snippet-file-submit-button">
  <%= f.hidden_field :category, value: 'image' %>
  <%= f.hidden_field :source_type, value: 'upload' %>
  <%= f.file_field :image %>
  <button type="submit" id="<%= file_category %>-file-submit-btn" class="btn btn-sm btn-outline-light create-snippet-btn">
    <i class="fa fa-plus"></i> <%= t('.image') %>
  </button>
  <button disabled id="<%= file_category %>-file-progress-btn" class="btn btn-sm btn-outline-light create-snippet-btn disabled">
    <i class="fa fa-clock-o"></i> <%= t('.uploading') %>
  </button>
</div>
<% end %>

<script>
$(function () {
  fileSubmitStatus("<%= file_category %>");
});
</script>
