<% form_id = 'update-form-' + display_order.to_s %>
<div id="<%= form_id %>" class="to-be-hidden", style="margin-top: 20px;">
  <%= form_for :snippet_file, url: {controller: :snippets, action: :ajax_update_file, id: snippet.id, display_order: display_order, note_id: note_id}, html: {id: form_id + '-file-form', class: 'form-inline', multipart: true}, remote: true do |f| %>
  <%= render partial: 'snippets/file_form', locals: {snippet: snippet, f: f, form_id: form_id} %>
  <% end %>
</div>


<script>
$(function () {
  $("#cancel-<%= form_id %>").click(function(){toggleUpdateSnippet(<%= snippet.id %>, <%= display_order %>);});
  $("#update-snippet-btn-<%= display_order %>").click(function(){toggleUpdateSnippet(<%= snippet.id %>, <%= display_order %>);});
  $("#<%= form_id %> #snippet-file-upload").change(function () {
    $("#<%= form_id %>-file-form").submit();
    $("#<%= form_id %>-file-submit-btn").css("display", "none")
    $("#<%= form_id %>-file-progress-btn").css("display", "block")
  })

  $('*').ajaxStop(function () {
    $("#<%= form_id %>-file-submit-btn").css("display", "block")
    $("#<%= form_id %>-file-progress-btn").css("display", "none")
  });
});
</script>
