<% action = controller.action_name %>
<% if (action == 'ajax_edit_note') || ((action == 'ajax_destroy_note') && !@note.destroyed?) %>
<div id="toolbar-btns">
  <%= link_to({action: 'ajax_show', id: @note.id}, {class: 'toolbar-btn', remote: true}) do %>
  <i class="fa fa-times-circle"></i> <%= t('views.cancel') %>
  <% end %>
  <%= link_to('javascript:void(0);', onclick: "$('#note_form').submit()", class: 'toolbar-btn') do %>
  <i class="fa fa-check-circle"></i> <%= t('views.ok') %>
  <% end %>
</div>

<% elsif (action == 'ajax_index') || (action == 'ajax_destroy_note') %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [[t('views.top')]]} %>
</nav>
<div id="toolbar-btns">
  <%= link_to({action: 'ajax_paste', note_id: 0}, {class: 'toolbar-btn', remote: true}) do %>
  <i class='fa fa-plus'></i> <%= t('activerecord.models.note') %>
  <% end %>
</div>

<% else %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [[t('views.top'), {action: 'ajax_index', nav_section: session[:nav_section]}], [@note.title]]} %>
</nav>
<% if @note.manager? session[:id] %>
<div id="toolbar-btns">
  <div class="btn-group">
    <a class="toolbar-btn dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"><i class="fa fa-cog fa-2x"></i> <%= t('.preferences') %></a>
    <div class="dropdown-menu">
      <%= link_to({action: 'ajax_edit_note', note_id: @note.id}, {class: 'dropdown-item', remote: true}) do %>
      <i class="fa fa-pencil"></i> <%= t('views.edit') %>
      <% end %>
      <%= link_to({controller: 'notes', action: 'export_html', id: @note.id}, {class: 'dropdown-item', target: '_blank'}) do %>
      <i class="fa fa-share"></i> 文章を出力
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% end %>
