<div class="card card-body">
  <h2 class="card-title" style="float: left;">
    <% if device.registration_id.present? %>
    <i class='fa fa-bell' title='通知：有効'></i>
    <% else %>
    <i class='fa fa-bell-slash-o' title='通知：無効'></i>
    <% end %>
    <% if device.title.present? %>
    <%= device.title %>
    <% else %>
    <%= '（未登録）' %>
    <% end %>
  </h2>
  <div style="float: right;">
    <%= render partial: 'layouts/buttons/edit', locals: {action_hash: {action: 'ajax_edit', id: device.id}, id_attr: '', class_attr: 'btn btn-primary'} %>
    <%= render partial: 'layouts/buttons/delete', locals: {action_hash: {action: 'ajax_destroy', id: device.id}, id_attr: '', class_attr: 'btn btn-danger'} %>
    <% if device.registration_id.present? %>
    <%= link_to raw("<i class='fa fa-bell'></i> テスト送信"), {action: 'ajax_push', id:device.registration_id},{class: 'btn btn-info', remote: true} %>
    <% end %>
  </div>
</div>
