<!-- FIXME: PushNotification -->
<div id="device-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<h1>端末登録</h1>
			<%= render partial: 'layouts/required' %>
			<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
			<%= form_for @device, url: {action: :ajax_create, id: @device.id}, html: {id: 'user_form', name: 'user_form', multipart: true}, remote: true do |f| %>
			<%#= f.error_messages %>
			<div class="bordered-block">
				<ul>
					<li>
						現在、LePoを表示しているブラウザを、プッシュ通知先に登録します。
					</li>
					<li>
						端末名：「自宅PC」、「スマホ」などを自由に入力し、プッシュ通知をする端末を区別できるようにします
					</li>
					<li>
						通知の有無：「プッシュ通知を無効にする」が表示された状態で、指定した端末にプッシュ通知が表示されます
					</li>
				</ul>
				<div class="form-group row">
					<%= f.label :title, raw("<span class='required'>*</span>端末名"), class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-7">
						<%= f.text_field :title, class: 'form-control' %>
					</div>
				</div>
				<div class="form-group row">
					<%= f.hidden_field :registration_id, id: 'registration_id', cols: '50', rows: '4', readonly: true %>
					<%= f.label :registration_id, raw("<span class='required'>*</span>通知の有無"), class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-7">
						<button id="js-push-button" class="btn btn-primary" disabled>
							プッシュ通知を有効にする
						</button>
					</div>
				</div>
			</div>
			<%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index'}} %>
			<span style="margin-left:1rem;">
				<%= render partial: 'layouts/buttons/create' %>
			</span>
			<% end %>
		</div>
	</div>
</div>

<script src="<%= asset_path 'main.js' %>"></script>
