<% report = achievement_report %>
<tr>
	<td><%= report["full_name"] %></td>
	<%= render "bar", style: report["bar_class"], ratio: report["self_lesson"], display: report["self_lesson_size"] > 0 %>
	<%= render "bar", style: report["bar_class"], ratio: report[:self_achievement], display: report["self_lesson_size"] > 0 %>
	<% if eval_category != "none" %>
	<%= render "bar", style: report["bar_class"], ratio: report[:eval_achievement], display: report["eval_lesson_size"] > 0 %>
	<%= render "tag", style: report["bar_class"], number: report["lesson_score"], display: report["eval_lesson_size"] > 0 %>
	<% end %>
</tr>
