<div class="resources-card card">
  <h2 class="card-header"><%= t("activerecord.models.lesson") %></h2>
  <div class="card-body" style="padding-top:0;">
    <% if @course.lessons.empty? %>
    <%= t('.no_lessons') %>
    <% else %>
    <div class="row list-header">
      <div class="inner-row">
        <div class="large-6x col">
          <div><%= t('activerecord.models.lesson') %></div>
        </div>
        <div class="large-2x col">
          <div>最終ふせん作成日時</div>
        </div>
      </div>
    </div>
    <% @course.lessons.each_with_index do |lesson, i| %>
    <% content = lesson.content %>
    <% last_sticky_date = format_sticky_date @last_sticky_dates[i] %>
    <% if (lesson.status == 'open') or (@course.staff? session[:id]) %>
    <% lesson_role = lesson.user_role session[:id] %>
    <div id="<%= selected_id(lesson == @lesson) %>" class="row <%= cycle('even-row', 'odd-row') %>">
      <div class="inner-row">
        <div class="large-6x col"><%= link_to_resource(lesson.display_order.to_s + '. ' + content.title, lesson.id, {}) %></div>
        <div class="large-2x col"><%= link_to_resource("#{last_sticky_date}", lesson.id, {}) %></div>
      </div>
    </div>
    <% else %>
    <div class="row <%= cycle('even-row', 'odd-row') %> disabled-row">
      <div class="inner-row">
        <div class="small-2x col">
          <div><i class="fa fa-lock fa-lg"></i></div>
        </div>
        <div class="large-6x col">
          <div><%= lesson.display_order.to_s + '. ' + content.title %></div>
        </div>
        <div class="large-2x col">
          <div><%= last_sticky_date %></div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
