<% report = star_reports(@learners, @course_role, @course) %>
<h2 class="card-header"><%= t('.star_acquisition_status') %></h2>
<% if manager_report?(@course_role, @learners) %>
<div class="card-right-top">
  <a data-toggle="collapse" href="#star-report-details" aria-expanded="false" aria-controls="star-report-details">
    <i class="fa fa-chevron-circle-down"></i> <%= t('.show_learners_details') %>
  </a>
</div>
<% end %>

<table id="stars" class="table table-condensed">
  <thead>
    <tr>
      <th class="width160" rowspan="2"></th>
      <th class="width160 text-center"><%= t('activerecord.models.course') %><%= t('activerecord.models.sticky') %> [個]</th>
      <th class="width160 text-center"><%= t('activerecord.models.note') %> [個]</th>
      <th class="width160 text-center">スター合計の順位</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'star_report', collection: report %>
  </tbody>

  <% if manager_report?(@course_role, @learners) %>
  <tbody id="star-report-details" class="collapse">
    <%= render(partial: 'star_report', collection: toggle_star_reports(@learners, @course)) %>
  </tbody>
  <% end %>
</table>
