<div class="footer">
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div>
        <% link_title = @note ? snippet.reference_num(@note.id) + ' ' + display_title(snippet.source) : display_title(snippet.source) %>
        <%= link_to(get_short_string(link_title, 25), snippet.source.url, {target: '_blank'}) %>
      </div>

      <% if session[:nav_section] == 'home' %>
      <a data-toggle="collapse" href="#snippet-<%= snippet.id %>-operations" aria-expanded="false" aria-controls="snippet-<%= snippet.id %>-operations"><i class='fa fa-chevron-circle-down'></i> <%= t('.operations') %></a>
      <% end %>
    </div>
  </div>
  <%= render(partial: 'snippets/items/operations_web', locals: {snippet: snippet}) if session[:nav_section] == 'home' %>
</div>
