<div id="snippet-<%= snippet.id %>-operations" class="collapse operation-list">
  <div class="operation-header"><%= t('.cited_date') %> : <%= l(snippet.created_at.to_date, format: :default) %></div>
  <ul class="fa-ul">
    <% if snippet.category == 'pdf' %>
    <li><a id="update-pdf-snippet-btn-<%= snippet.id %>" style="cursor:pointer;"><i class='fa fa-li fa-pencil'></i> <%= t('.enter_citation') %></a></li>
    <% end %>
    <% @notes.each do |note| %>
    <% if snippet.transferable? session[:id], note.id %>
    <% link_hash = @note ? {action: 'ajax_transfer', id: snippet.id, to_note_id: note.id, from_note_id: @note.id} : {action: 'ajax_transfer', id: snippet.id, to_note_id: note.id} %>
    <li><%= link_to(raw("<i class='fa-li fa fa-file-text-o'></i>") + t('.transfer_to', note_title: note.title), link_hash, {remote: true}) %></li>
    <% end %>
    <% end %>
    <% if snippet.transferable? session[:id] %>
    <li><%= link_to(raw("<i class='fa-li fa fa-file-text'></i>") + t('.remove'), {action: 'ajax_transfer', id: snippet.id, from_note_id: @note.id}, {remote: true}) %></li>
    <% end %>
    <% link_hash = @note ? {action: 'ajax_destroy', id: snippet.id, note_id: @note.id} : {action: 'ajax_destroy', id: snippet.id} %>
    <li><%= link_to(raw("<i class='fa-li fa fa-trash-o'></i>") + t('.delete'), link_hash, {remote: true}) %></li>
  </ul>
</div>
