<div id="course-member-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
			<div class="block">
				<!-- With Groups -->
				<!-- #FIXME: Group work -->
				<table class="table edit-group">
					<tr>
						<th><%= t('activerecord.attributes.user.signin_name') %></th>
						<th><%= t('activerecord.others.user.full_name') %></th>
						<th><%= t('activerecord.attributes.course_member.group') %></th>
					</tr>
					<% @course.learners.each do |l| %>
					<tr>
						<td><%= l.signin_name %></td>
						<td><%= l.full_name %></td>
						<td>
							<div class="btn-group" data-toggle="buttons-radio">
								<ul class="nav nav-pills">
									<% @course.groups_count.times do |g| %>
									<% if g == @course.group_index_for(l.id) %>
									<li class="active"><span class="badge badge-primary" style="font-size: 1rem;"><%= t('.group', index: g + 1) %></span></li>
									<% else %>
									<li><%= link_to(t('.group', index: g + 1), {action: 'ajax_update_group', user_id: l.id, group_index: g}, {remote: true}) %></li>
									<% end %>
									<% end %>
								</ul>
							</div>
						</td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
