<div id="user-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<h1>アカウントの設定</h1>
			<%= render partial: "layouts/system_message", locals: {message: flash[:message], message_category: flash[:message_category]} %>
			<%= form_for @user, url: {action: :ajax_update_account, id: @user.id}, html: {id: 'user_form', name: 'user_form', multipart: true}, remote: true do |f| %>
			<%#= f.error_messages %>

			<div class="bordered-block">
				<h2>ユーザ管理情報</h2>

				<div class="form-group row">
					<%= f.label :password, 'パスワード', class: "col-md-3 col-form-label text-sm-right" %>
					<div class="col-md-7">
						<%= f.password_field :password, class: "form-control" %>
						<div class="form-text"><span style="font-weight: bold;">英数字<%= USER_PASSWORD_MIN_LENGTH %>
							〜<%= USER_PASSWORD_MAX_LENGTH %>文字</span>で設定</div>
						</div>
					</div>

					<div class="form-group row">
						<%= f.label :password_confirmation, 'パスワードの確認', class: "col-md-3 col-form-label text-sm-right" %>
						<div class="col-md-7">
							<%= f.password_field :password_confirmation, class: "form-control" %>
							<div class="form-text">同じパスワードを再入力</div>
						</div>
					</div>

				</div>

				<div class="bordered-block">
					<h2>システム管理情報
						<div class="header-explanation">変更不可</div>
					</h2>
					<div class="form-group row control-group-text-line">
						<%= f.label :user_id, 'ユーザID', class: "col-md-3 col-form-label text-sm-right control-text-line", style: "line-height: 60%;" %>
						<div class="col-md-7">
							<%= @user.user_id %>
						</div>
					</div>
					<div class="form-group row control-group-text-line">
						<%= f.label :role, 'アカウント種別', class: "col-md-3 col-form-label text-sm-right control-text-line", style: "line-height: 60%;" %>
						<div class="col-md-7">
							<%= t("activerecord.others.user.role.#{@user.role}") %>
						</div>
					</div>

					<div class="form-group row control-group-text-line">
						<label class="col-md-3 col-form-label text-sm-right control-text-line" style="line-height: 60%;"><%= t('views.content.manage') %></label>
						<div class="col-md-7">
							<%= @user.content_manageable? ? t('views.possible') : t('views.impossible') %>
						</div>
					</div>

				</div>
				<%= link_to({action: 'ajax_index', nav_section: 'home'}, {id: 'cancel-btn', class: 'btn btn-large btn-light', title: 'cancel', remote: true}) do %>
				<i class="fa fa-times-circle fa-lg"></i> <%= t('views.cancel') %>
				<% end %>
				<%= render partial: 'layouts/submit_complete_btn' %>
				<% end %>
			</div>
		</div>
	</div>

	<script>
	$(function () {
		$('#user_password').focus();
	})
	</script>
