<div id="user-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<h1>プロフィールの設定</h1>
			<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
			<%= form_for current_user, url: {action: :ajax_update_profile}, html: {id: 'user_form', name: 'user_form', multipart: true}, remote: true do |f| %>
			<%#= f.error_messages %>

			<div class="bordered-block">
				<p class="text-right small"><%= t('.open_within_courses') %></p>
				<%= render partial: 'layouts/required' %>
				<div class="form-group row">
					<%= f.label :family_name, raw("<span class='required'>*</span>氏名（姓）"), class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_field :family_name, class: 'form-control' %>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :given_name, '（名）', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_field :given_name, class: 'form-control' %>
					</div>
				</div>
				<% if USER_PHONETIC_NAME_FLAG %>
				<div class="form-group row">
					<%= f.label :phonetic_family_name, '氏名のよみ（セイ）', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_field :phonetic_family_name, class: 'form-control' %>
						<div class="form-text">カタカナで入力</div>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :phonetic_given_name, '（メイ）', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_field :phonetic_given_name, class: 'form-control' %>
						<div class="form-text">カタカナで入力</div>
					</div>
				</div>
				<% end %>
				<div class="form-group row">
					<%= f.label :image, '画像ファイル', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.hidden_field :image, value: current_user.cached_image_data %>
			      <%= f.file_field :image, class: 'form-control-file', style: 'color: #fff;' %>
						<div style="margin-top:0.5rem; display:flex; align-items:center;">
							<div style="background-color:#fff; width:80px;">
								<%= render partial: 'layouts/image', locals: {obj: current_user, fa_class: 'fa-user', img_px: '80'} %>
							</div>
							<% if !current_user.new_record? && current_user.image %>
							<div style="padding-left:1rem;">
								<%= f.label :remove_image, t('.remove_image') %>
			          <%= f.check_box :remove_image %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :description, '自己紹介', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_area :description, class: 'form-control', rows: 6 %>
						<div class="form-text">絵文字や一部の記号は使用できません。「完了」ボタンを押しても保存できない場合は、記号を取り除いてください</div>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :web_url, 'WebページURL', class: 'col-md-3 col-form-label text-sm-right' %>
					<div class="col-md-8">
						<%= f.text_field :web_url, class: 'form-control' %>
					</div>
				</div>
			</div>
			<%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}} %>
			<span style="margin-left:1rem;">
				<%= render partial: 'layouts/buttons/update' %>
			</span>
			<% end %>
		</div>
	</div>
</div>


<script>
$(function () {
	$('#user_family_name').focus();
})
</script>
