<div class="bordered-block">
	<h2>1. ユーザの検索
		<div class="header-explanation"><%= USER_SEARCH_MAX_SIZE %>ユーザを上限に、<%= t('activerecord.attributes.user.signin_name') %> / 氏名で検索</div>
	</h2>

	<%= form_tag({action: 'ajax_search_accounts'}, remote: true) do %>
	<div class="form-group form-row">
		<%= label :search_word, 'User ID / 氏名' , class: 'col-md-2 col-form-label text-sm-right' %>
		<%= text_field_tag 'search_word', @search_word, class: 'col-md-4 form-control input-lg', placeholder: t('.search_word') %>
		<%= label :role, '役割' , class: 'col-md-1 col-form-label text-sm-right' %>
		<%= select_tag 'role', options_for_select(select_options_unspecified(member_role_options('system')), @role),  class: 'col-md-4 form-control input-lg' %>
	</div>

	<div class="form-group form-row text-right">
		<div class="col-md-11">
			<%= render partial: 'layouts/buttons/search' %>
		</div>
	</div>
	<% end %>
</div>
