<div class="card block">
  <h2 class="card-header"><%= title %></h2>
  <div class="card-body" style="padding: 1px;">
    <table class="table table-sm table-striped user-table">
      <% users.each do |user| %>
      <tr>
        <td class="image-td">
          <%= render partial: 'layouts/image', locals: {obj: user, fa_class: 'fa-user', img_px: '40'} %>
        </td>
        <td class="name-td">
          <%= user.full_name_all %>
          <span class="badge badge-secondary"><%= member_role_text 'system', user.role %></span>
        </td>
        <td class="button-td">
          <% search_word = @search_word ? @search_word : '' %>
          <% role = @role ? @role : '' %>
          <%= render partial: 'layouts/buttons/edit', locals: {action_hash: {action: 'ajax_select_account', id: user.id, search_word: search_word, role: role}, id_attr: '', class_attr: 'btn btn-light'} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
