<div class="block alert alert-info">
  <table class="table table-sm role-info">
    <thead>
      <tr>
        <th></th>
        <th style="text-align:center;"><%= t('activerecord.attributes.course.managers') %></th>
        <th style="text-align:center;"><%= t('activerecord.attributes.course.assistants') %></th>
        <th style="text-align:center;"><%= t('activerecord.attributes.course.learners') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= t('.view_content') %></th>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <th><%= t('.submit_assignment') %></th>
        <td></td>
        <td></td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <th><%= t('.evaluate_assignment') %></th>
        <td><i class="fa fa-check"></i></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th><%= t('.edit_course') %></th>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td></td>
      </tr>
      <tr>
        <th><%= t('.edit_course_member') %></th>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
