<div id="<%= 'link_'+link.id.to_s %>" class="associated-object">
  <table>
    <tr>
      <th class="draggable-symbol"><i class="fa tentative-grip"></i></th>
      <th class="serial-number"><%= link.display_order %>.</th>
      <th class="title"><%= sanitize link.title %>, <%= link.url %></th>
      <td class="l160px"><%= format_time(link.updated_at, "mdhm") + " 更新" %></td>
      <td class="r40px">
        <%= link_to("削除", {action: "ajax_destroy", link_id: link.id}, {class: "bright-link", remote: true}) %>
      </td>
    </tr>
  </table>
</div>
