<div id="content-member-resource" class="scroll-pane">
  <div class="block alert alert-info">
    <h4 class="alert-heading"><%= t('activerecord.models.content_member') + t('activerecord.attributes.content_member.role') %></h4>
    <dl>
      <dt>
        <%= t('activerecord.others.content_member.role.manager') %>
      </dt>
      <dd>
        教材の編集（原則、著作権保持者） / 教材の管理 / 教材のコース利用 / 一教材に一名のみ登録
      </dd>
      <dt>
        <%= t('activerecord.others.content_member.role.assistant') %>
      </dt>
      <dd>
        教材の編集 / 教材の管理（管理者の設定は不可） / 教材のコース利用
      </dd>
      <dt>
        <%= t('activerecord.others.content_member.role.user') %>
      </dt>
      <dd>
        教材のコース利用
      </dd>
    </dl>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
      <%= render(partial: 'layouts/search_members', locals: {update_model: 'content_member', resource_id: @content.id}) %>
      <%= render(partial: 'layouts/csv_members', locals: {update_model: 'content_member', resource_id: @content.id}) %>
      <% current_content_members = [[@content.manager, 'manager', '']] %>
      <% current_content_members = current_content_members.concat(@content.assistants.zip Array.new(@content.assistants.size, 'assistant'), Array.new(@content.assistants.size, 'none')) %>
      <% current_content_members = current_content_members.concat(@content.users.zip Array.new(@content.users.size, 'user'), Array.new(@content.users.size, 'none')) %>
      <%= render(partial: 'layouts/member_candidates', locals: {title: '現在のメンバー', category: 'content', form_category: 'index', users: current_content_members, resource_id: @content.id, footer: ''}) %>
      <p>
        <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {controller: 'contents', action: 'ajax_show', id: @content.id}} %>
      </p>
    </div>
  </div>
</div>
