<div class="card">
  <h2 class="card-header"><%= header %></h2>
  <div class="card-body" style="padding: 1px;">
    <table class="table table-sm table-striped preference-table">
      <% preferences.each do |pref| %>
      <tr>
        <td class="image-td">
          <% icon_class = preference_icon pref[0], pref[1]  %>
          <% if icon_class.class.equal?(Array) %>
           <div class="icon fa-stack" style="text-align: center;">
            <i class="fa <%= icon_class[0] %> fa-stack-1x" style="font-size:2.0rem;margin:-0.2rem 0 0 -0.4rem;color:#bbb;"></i>
            <i class="fa <%= icon_class[1] %> fa-stack-2x" style="font-size:1.5rem;margin:0.5rem 0 0 0.6rem;color:#999;"></i>
           </div>
          <% else %>
           <div class="icon" style="text-align: center;">
            <i class="fa <%= icon_class %>"></i>
           </div>
          <% end %>
        </td>
        <td class="name-td">
          <%= link_to preference_title(pref[0], pref[1]), {controller: pref[0], action: pref[1]}, {id: preference_title_id(pref[0], pref[1]), remote: true} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
