<% case controller.action_name when 'ajax_index', 'ajax_update_profile', 'ajax_update_account' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['']]} %>
</nav>

<% when 'ajax_profile_pref', 'ajax_destroy_user_image', 'ajax_account_pref' %>
<% crumb_title = (controller.action_name == 'ajax_account_pref') ? 'アカウント' : 'プロフィール' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [crumb_title]]} %>
</nav>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
  <%= render partial: 'layouts/buttons/toolbar_update', locals: {onclick_txt: "$('#user_form').submit()"} %>
</div>

<% when 'ajax_notice_pref', 'ajax_edit_notice', 'ajax_create_notice', 'ajax_destroy_notice', 'ajax_reedit_notice', 'ajax_archive_notice', 'ajax_archive_notice_from_course_top', 'ajax_open_notice', 'ajax_update_notice' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [t('activerecord.models.notice')]]} %>
</nav>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_index', nav_section: session[:nav_section]}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
</div>

<% when 'ajax_default_note_pref' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [t('.note')]]} %>
</nav>
<div id="toolbar-btns">
  <% if current_user.notes.size.zero? %>
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_index', nav_section: session[:nav_section]}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
  <% else %>
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
  <%= render partial: 'layouts/buttons/toolbar_update', locals: {onclick_txt: "$('#user_form').submit()"} %>
  <% end %>
</div>

<% when 'ajax_new_user_pref' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [t('.new_user')]]} %>
</nav>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_index', nav_section: session[:nav_section]}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
</div>

<% when 'ajax_user_account_pref', 'ajax_search_accounts', 'ajax_select_account' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [t('.user_account')]]} %>
</nav>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
</div>

<% when 'ajax_update_pref' %>
<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {action: 'ajax_index', nav_section: session[:nav_section]}], [t('helpers.update')]]} %>
</nav>
<% end %>
