<%= form_for @course, url: {action: submit_action, id: @course.id}, html: {id: 'course-form', name: 'course-form', multipart: true, remote: true} do |f| %>
<%= render partial: "layouts/system_message", locals: {message: flash[:message], message_category: flash[:message_category]} %>
<%#= f.error_messages %>

<div class="bordered-block">
  <h2>基本情報</h2>

  <div class="form-group row">
    <%= f.label :title, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.title'), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :term_id, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.term'), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <% if @course.new_record? %>
      <%= f.select :term_id, Term.selectables("hereafter"), {}, {class: "form-control"} %>
      <% else %>
      <%= f.select :term_id, Term.selectables("all"), {}, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :overview, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.overview'), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= f.text_area :overview, class: "form-control", rows: "8" %>
      <div class="form-text">改行を続けて挿入した位置で、文章を折りたたんで表示</div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :image, 'イメージ画像', class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= f.file_field :image, style: "color: #fff;" %>
      <div style="background-color: #fff; width: 80px;">
        <%= render partial: 'layouts/image' , locals: {obj: @course, fa_class: 'fa-flag', size: 'l'}%>
      </div>
      <% if @course.image? %>
      <%= link_to({action: 'ajax_delete_image', id: @course.id}, {id: "delete_image_btn", title: "delete_image", remote: true}) do %>
      <button style="width: 200px; padding: 2px;">
        <span style="vertical-align: middle; line-height: 100%;"><i class="fa fa-times-circle fa-lg" style="color: #f33; "></i> アップロード済み画像を削除</span>
      </button>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :groups_count, 'グループ数', class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <%= f.select :groups_count, (1..COURSE_GROUP_MAX_SIZE).to_a, {}, {class: "form-control"} %>
      <ul class="form-list">
        <li>グループで分類して、公開ノートを表示可能</li>
        <li>グループに分類しない場合は1を設定</li>
      </ul>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :status, raw("<span class='required'>*</span>状態"), class: "col-md-3 col-form-label text-sm-right" %>
    <div class="col-md-7">
      <div id="status-flow">
        <%= render partial: 'layouts/status_form', locals: {current_status: @course.status, selected_status: @course.status} %>
      </div>
    </div>
  </div>
</div>

<% if User.system_staff? session[:id] %>
<div class="bordered-block">
  <h2><%= t('activerecord.attributes.course.managers') %></h2>
  <div class="offset-sm-3">
    <div class="form-text"><%= t('views.system_messages.auto_register_of_course_manager') if @course.new_record? %></div>
  </div>
  <div id="course-manager-select">
    <%= render partial: 'course_manager_select' , locals: {course_id: @course.id, managers: @course.managers, status: @course.status} %>
  </div>
</div>
<% end %>

<div class="bordered-block">
  <h2><%= t('activerecord.models.goal') %>
    <div class="header-explanation">1〜<%= COURSE_GOAL_MAX_SIZE %>個設定</div>
  </h2>
  <% required = true %>
  <%= f.fields_for :goals do |goal_form| %>
  <%= render partial: 'courses/goal_form', locals: {required: required, goal_form: goal_form} %>
  <% required = false %>
  <% end %>

  <div class="form-group row">
    <div class="offset-sm-3 col-md-7">
      <div class="form-text">不必要な目標は空欄に設定</div>
    </div>
  </div>
</div>

<%= link_to(course_cancel_hash, {id: "cancel-btn", class: "btn btn-large btn-light", title: "cancel", remote: true}) do %>
<i class="fa fa-times-circle fa-lg"></i> <%= t("views.cancel") %>
<% end %>

<button type="submit" id="submit-btn" class="btn btn-large btn-primary" style="margin-left: 10px;">
  <i class="fa fa-arrow-right fa-lg"></i> <%= t('views.navs.save_and_next') %>
</button>
<% end %>
<script>
$(function () {
  $('#course_title').focus();
})
</script>
