<%= form_for @course, url: {action: submit_action, id: @course.id}, html: {id: 'course-form', name: 'course-form', multipart: true, remote: true} do |f| %>
<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
<%#= f.error_messages %>

<div class="bordered-block">
  <h2>基本情報</h2>
  <%= render partial: 'layouts/required' %>
  <div class="form-group row">
    <%= f.label :title, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.title'), class: 'col-md-3 col-form-label text-sm-right' %>
    <span class="col-md-8">
      <%= f.text_field :title, {class: 'form-control', placeholder: t('activerecord.attributes.course.title')} %>
    </span>
  </div>

  <div class="form-group row">
    <%= f.label :overview, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.overview'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.text_area :overview, {class: 'form-control', rows: '5', placeholder: t('activerecord.attributes.course.overview')} %>
      <div class="form-text">改行を続けて挿入した位置で、文章を折りたたんで表示</div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :term_id, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.term_id'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <% if @course.new_record? %>
      <%= f.select :term_id, selectable_terms('hereafter'), {}, {class: 'form-control'} %>
      <% else %>
      <%= f.select :term_id, selectable_terms('all'), {}, {class: 'form-control'} %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :weekday, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.weekday'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.select :weekday, weekdays, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :period, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.period'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.select :period, periods,  {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :status, raw("<span class='required'>*</span>") + t('activerecord.attributes.course.status'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.select :status, course_status_array, course_disabled_status_hash(@course.status), {class: 'form-control'} %>
      <ul class="form-list">
        <li><%= t('.disabled_to_be_draft') %></li>
      </ul>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :image, t('activerecord.attributes.course.image_data'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.hidden_field :image, value: @course.cached_image_data %>
      <%= f.file_field :image, class: 'form-control-file', style: 'color: #fff;' %>
      <div style="margin-top:0.5rem; display:flex; align-items:center;">
        <div style="background-color: #fff; width: 80px;">
          <%= render partial: 'layouts/image', locals: {obj: @course, fa_class: 'fa-flag', img_px: '80'}%>
        </div>
        <% if @course.image %>
        <div style="padding-left:1rem;">
          <%= f.label :remove_image, t('.remove_image') %>
          <%= f.check_box :remove_image %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :groups_count, t('activerecord.attributes.course.groups_count'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-8">
      <%= f.select :groups_count, (1..COURSE_GROUP_MAX_SIZE).to_a, {}, {class: 'form-control'} %>
      <ul class="form-list">
        <li><%= t('.group_explanation') %></li>
        <li><%= t('.group_default') %></li>
      </ul>
    </div>
  </div>
</div>

<% if User.system_staff? session[:id] %>
<div class="bordered-block">
  <h2><%= t('activerecord.attributes.course.managers') %>
    <div class="header-explanation">
      <% if @course.new_record? %>
      <%= t('.auto_register_of_course_manager') %>
      <% elsif @course.status != 'draft' %>
      <%= t('.no_course_manager_form') %>
      <% end %>
    </div>
  </h2>
  <div id="course-manager-select">
    <%= render partial: 'course_manager_select' , locals: {course_id: @course.id, managers: @course.managers, status: @course.status} %>
  </div>
</div>
<% end %>

<div class="bordered-block">
  <h2><%= t('activerecord.models.goal') %>
    <div class="header-explanation">1〜<%= COURSE_GOAL_MAX_SIZE %>個設定</div>
  </h2>
  <%= render partial: 'layouts/required' %>
  <% required = true %>
  <%= f.fields_for :goals do |goal_form| %>
  <%= render partial: 'courses/goal_form', locals: {required: required, goal_form: goal_form} %>
  <% required = false %>
  <% end %>

  <div class="form-group row">
    <div class="col-md-9 ml-auto">
      <div class="form-text">不必要な目標は空欄に設定</div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/buttons/cancel', locals: {action_hash: course_cancel_hash} %>
<%= render partial: 'layouts/buttons/save_and_next' %>
<% end %>
<script>
$(function () {
  $('#course_title').focus();
})
</script>
