<div class="resources-card card">
  <div class="card-block" style="color:#000;">
    <% if @course.lessons.empty? %>
    <%= t('views.system_messages.no_lessons') %>
    <% else %>
    <div class="row list-header">
      <div class="inner-row">
        <div class="x-small col">
          <div></div>
        </div>
        <div class="xxxxxx-large col">
          <div><%= t('activerecord.models.lesson') %></div>
        </div>
        <div class="x-large col">
          <div><%= t('activerecord.attributes.content.as_category') %></div>
        </div>
      </div>
    </div>
    <% @course.lessons.each do |lesson| %>
    <% content = lesson.content %>
    <% if (lesson.status == 'open') or (@course.staff? session[:id]) %>
    <% lesson_role = lesson.user_role session[:id] %>
    <% icon_info = lesson_icon(lesson.status, @marked_lessons, lesson.id, lesson_role, @course.learners.size) %>
    <div id='<%= selected_id(lesson == @lesson) %>' class="row <%= cycle('even-row', 'odd-row') %>">
      <div class="inner-row">
        <div class="x-small col"><%= link_to_lesson("<i class='#{icon_info[:class]}'></i>", @course.id, lesson.id, {title: icon_info[:text]}) %></div>
        <div class="xxxxxx-large col"><%= link_to_lesson(lesson.display_order.to_s + '. ' + content.title + " (#{content.page_files.size}#{t("views.pages")})", @course.id, lesson.id, {}) %></div>
        <div class="x-large col"><%= link_to_lesson("#{assignment_category_text(content.as_category)} (#{lesson_evaluation_text lesson.evaluator_id})", @course.id, lesson.id, {}) %></div>
      </div>
    </div>
    <% else %>
    <div class="row <%= cycle('even-row', 'odd-row') %> disabled-row">
      <div class="inner-row">
        <div class="x-small col">
          <div><i class="fa fa-lock fa-lg"></i></div>
        </div>
        <div class="xxxxxx-large col">
          <div><%= lesson.display_order.to_s + '. ' + content.title + " (#{content.page_files.size}#{t("views.pages")})" %></div>
        </div>
        <div class="x-large col">
          <div><%= assignment_category_text(content.as_category) %>
            (<%= lesson_evaluation_text lesson.evaluator_id %>)
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
