<div class="bordered-block" style="margin-top:1rem;">
  <h2>オプション（コース担当教師のみ利用可能）
    <div class="header-explanation">
      <span id="option_form_opener"><a class="bright-link" style="cursor:pointer;">オプションを表示/非表示</a></span>
    </div>
  </h2>
  <div id="option_form" style="display: none; margin-left:20px;">
    <div style="margin-bottom:1rem;">
      <h3>1. コースの複製</h3>
      <% if selectable_terms('hereafter').size > 0 %>
      <%= form_for :course, url: {action: 'ajax_duplicate', original_id: @course.id}, remote: true do |f| %>
      <p>
        <%= t('.duplication_settings') %>
      </p>
      <div class="form-group form-row" style="width: 100%;">
        <%= f.label :term_id, class: 'col-md-2 col-form-label text-sm-right' %>
        <%= f.select :term_id, selectable_terms('hereafter'), {}, {class: 'col-md-3 form-control input-lg'} %>
        <%= f.label :title, class: 'col-md-2 col-form-label text-sm-right' %>
        <%= f.text_field :title, {class: 'col-md-4 form-control input-lg', placeholder: @course.title} %>
      </div>
      <div class="form-group col-md-11 text-right">
        <%= render partial: 'layouts/buttons/duplicate' %>
      </div>
      <% end %>
      <% else %>
      <p>コースを複製できる学期がありません。システム管理者に相談して下さい。</p>
      <% end %>
    </div>

    <div>
      <h3>2. コースの削除</h3>
      <% if @course.lessons.size > 0 %>
      <p>レッスンが登録されているコースは、削除できません</p>
      <% else %>
      <p>この操作は、取り消すことができません</p>
      <%= render partial: 'layouts/buttons/delete', locals: {action_hash: {action: 'ajax_destroy', id: @course.id}} %>
      <% end %>
    </div>
  </div>
</div>


<script>
$("#option_form_opener").click(function(){toggleOptionForm();})
</script>
