<div class="bordered-block">
	<h2>1. <%= t('.search_course') %>
		<div class="header-explanation"><%= t('.exp_search_course', num: COURSE_SEARCH_MAX_SIZE) %></div>
	</h2>

	<%= form_tag({action: 'ajax_search_courses'}, remote: true) do %>
	<div class="form-group form-row" style="width: 100%;">
		<%# --- term --- %>
		<%= label :term_id, t('activerecord.models.term'), class: 'col-md-2 col-form-label text-sm-right' %>
		<%= select_tag :term_id, options_for_select(select_options_unspecified(selectable_terms('all'))), class: 'col-md-3 form-control input-lg' %>
		<%# --- title --- %>
		<%= label :title, t('activerecord.attributes.course.title'), class: 'col-md-2 col-form-label text-sm-right' %>
		<%= text_field_tag :title, @search_word, class: 'col-md-4 form-control input-lg', placeholder: t('.placeholder_title') %>
	</div>

	<div class="form-group form-row" style="width: 100%;">
		<%# --- status --- %>
		<%= label :status, t('activerecord.attributes.course.status'), class: 'col-md-2 col-form-label text-sm-right' %>
		<%= select_tag :status, options_for_select(select_options_unspecified(status_select_options)), class: 'col-md-3 form-control input-lg' %>
		<%# --- manager --- %>
		<%= label :manager, t('activerecord.attributes.course.managers'), class: 'col-md-2 col-form-label text-sm-right'  %>
		<%= text_field_tag :manager, @search_word, class: 'col-md-4 form-control input-lg', placeholder:  t('.placeholder_manager') %>
	</div>
	<div class="form-group col-md-11 text-right">
		<%= render partial: 'layouts/buttons/search' %>
	</div>
	<% end %>
</div>
