<nav id="sub-nav">
  <% crumbs = course_crumbs @course.id, @lesson.display_order, @lesson.status, session[:nav_section], session[:page_num] %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: crumbs} %>
  <%= render partial: 'layouts/page_number', locals: {pg: pg, lesson_id: @lesson.id} %>
</nav>

<div id="toolbar-btns">
  <div class="btn-group">
    <% if @note %>
    <!-- For lesson note view -->
    <%= link_to(raw("<i class='fa fa-book'></i> "), {controller: 'courses', action: 'ajax_toggle_lesson_note', from: 'note' }, {class: 'toolbar-btn', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: t('.show_content'), remote: true}) %>
    <div class="toolbar-btn" data-toggle='tooltip' data-placement='bottom' title="<%= t('.create_sticky') %>">
      <i class='fa fa-sticky-note-o'></i> (<%= pg['stickies'].size %>)
    </div>
    <div class="toolbar-btn dropdown-toggle"><i class="fa fa-cog fa-2x"></i></div>
    <% else %>
    <!-- For content page view -->
    <%= link_to(raw("<i class='fa fa-file-text'></i> "), { controller: 'courses', action: 'ajax_toggle_lesson_note', from: 'content' }, {class: 'toolbar-btn', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: t('.show_note'), remote: true}) %>
    <div id="sticky-toolbar">
      <% url_hash = {action: 'ajax_arrange_sticky_panel', content_id: @content.id, target_type: 'Page', target_id: pg['file_id'], sticky_panel: 'show'} %>
      <%= render partial: 'stickies/toolbar', locals: {stickies: pg['stickies'], url_hash: url_hash} %>
    </div>
    <% end %>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('[data-toggle="tooltip"]').on('click', function () {
    $(this).tooltip('hide')
  })
})
</script>
