<nav id="sub-nav">
  <% case action_name when "ajax_course_pref" %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [[t('views.top'), {controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}], [t('courses.course_pref.course_preferences') ]]} %>
  <% else %>
  <%= render partial: "layouts/breadcrumb", locals: {crumbs: [[t("views.top")]]} %>
  <% end %>
</nav>
<% case action_name when "ajax_index", "ajax_destroy", "ajax_update", "ajax_index_by_system_staff" %>
<% if (@course.staff? session[:id]) || (User.system_staff? session[:id]) %>
<div id="toolbar-btns">
  <div class="btn-group">
    <a class="toolbar-btn dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"><i class="fa fa-cog fa-2x"></i></a>
    <div class="dropdown-menu">
      <%= link_to({action: "ajax_edit_notice"}, {class: "dropdown-item", remote: true}) do %>
      <i class="fa fa-bullhorn"></i> <%= t("activerecord.models.notice") %>
      <% end %>
      <% if (@course.assistant? session[:id]) || (@course.manager? session[:id]) ||  (User.system_staff? session[:id]) %>
      <%= link_to({action: "ajax_edit", id: @course.id}, {class: "dropdown-item", remote: true}) do %>
      <i class="fa fa-pencil"></i> <%= t("views.edit") %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% when "ajax_edit", "ajax_new" %>
<%= render(partial: "courses/toolbar_edit") %>

<% when "ajax_edit_notice", "ajax_create_notice", "ajax_destroy_notice", "ajax_reedit_notice", "ajax_archive_notice", "ajax_open_notice", "ajax_update_notice" %>
<div id="toolbar-btns">
  <%= link_to({action: "ajax_index", nav_section: session[:nav_section], nav_id: session[:nav_id]}, {class: "toolbar-btn", remote: true}) do %>
  <i class="fa fa-check-circle"></i> <%= t('views.ok') %>
  <% end %>
</div>

<% when "ajax_create", "ajax_update" %>
<%= render(partial: "courses/toolbar_edit_lesson") if @course.status != "archived" %>
<% end %>
