<nav id="sub-nav">
  <% case action_name when 'ajax_course_pref' %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}], [t('courses.course_pref.course_preferences') ]]} %>
  <% else %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['']]} %>
  <% end %>
</nav>
<% case action_name when 'ajax_index', 'ajax_index_by_system_staff' %>
<% if (@course.staff? session[:id]) || (User.system_staff? session[:id]) %>
<%= render partial: 'toolbar_dropdown_btn' %>
<% end %>

<% when 'edit', 'new' %>
<%= render partial: 'courses/toolbar_edit' %>

<% when 'ajax_edit_notice', 'ajax_create_notice', 'ajax_destroy_notice', 'ajax_reedit_notice', 'ajax_archive_notice', 'ajax_open_notice', 'ajax_update_notice' %>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_index', nav_section: session[:nav_section], nav_id: session[:nav_id]}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
</div>

<% when 'create', 'update' %>
<% if @course.status != 'archived' %>
<%= render partial: 'courses/toolbar_edit_lesson' %>
<% else %>
<%= render partial: 'toolbar_dropdown_btn' %>
<% end %>

<% when 'ajax_course_pref' %>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {controller: 'preferences', action: 'ajax_index', nav_section: 'home'}, id_attr: 'toolbar-cancel-btn', class_attr: 'toolbar-btn'} %>
</div>
<% end %>
