<nav id="sub-nav">
  <% crumbs = course_crumbs @course.id, @lesson.display_order, @lesson.status, session[:nav_section], session[:page_num] %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: crumbs} %>
  <%= render partial: 'layouts/page_number', locals: {pg: pg, lesson_id: @lesson.id} %>
</nav>

<div id="toolbar-btns">
  <div class="btn-group">
    <% case action_name when 'ajax_show_lesson_note' %>
    <%= link_to(raw("<i class='fa fa-book'></i> ") + t('activerecord.models.content'), { controller: 'courses', action: 'ajax_show_page', locales: {page_num: session[:page_num]}}, class: 'toolbar-btn', remote: true) %>
    <div class="toolbar-btn">
      <i class='fa fa-plus'></i> <%= t('activerecord.models.sticky') %> (<%= pg['stickies'].size %>)
    </div>
    <div class="toolbar-btn dropdown-toggle"><i class="fa fa-cog fa-2x"></i></div>
    <% else %>
    <%= link_to(raw("<i class='fa fa-file-text'></i> ") + t('activerecord.models.note'), { controller: 'courses', action: 'ajax_show_lesson_note' }, class: 'toolbar-btn', remote: true) %>
    <div id="sticky-toolbar">
      <% url_hash = {action: 'ajax_arrange_sticky_panel', content_id: @content.id, target_type: 'PageFile', target_id: pg['file_id'], sticky_panel: 'show'} %>
      <%= render partial: 'stickies/toolbar', locals: {stickies: pg['stickies'], url_hash: url_hash} %>
    </div>
    <% end %>
  </div>
</div>
