<div id="signin-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-10">
      <div class="block">
        <%= form_tag({action: 'ajax_authenticate'}, id: 'signin-form', remote: true) do %>
        <div class="form-group row">
          <label class="col-md-4 col-form-label col-form-label-lg text-sm-right" for="signin_name"><%= t('activerecord.attributes.user.signin_name') %></label>
          <div class="col-md-8">
            <%= text_field_tag :signin_name, params[:signin_name], {placeholder: t('activerecord.attributes.user.signin_name'), class: 'form-control'} %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label col-form-label-lg text-sm-right" for="password">Password</label>
          <div class="col-md-8">
            <%= password_field_tag :password, params[:password], {placeholder: 'Password', class: 'form-control', autocomplete: 'off'} %>
          </div>
        </div>
        <div class="form-group row">
          <div class="controls col-md-8 ml-auto">
            <%= submit_tag t('activerecord.models.signin'), id: 'signin-submit-btn', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
        <% end %>
      </div>

      <%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: 'error'} %>

      <% system_notices = Notice.for_system %>
      <% if system_notices.size > 0 %>
      <div class="block">
        <%= render partial: 'notices/notice_card', collection: system_notices, locals: {border_category: 'course'} %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
$(function () {
  $("#signin_name").focus();
})
</script>
