<% if (session[:nav_controller] != "notes") %>
<% case session[:sticky_panel] when "mini" %>
<%= link_to({action: "ajax_arrange_sticky_panel", content_id: @sticky.content_id, target_type: @sticky.target_type, target_id: @sticky.target_id, sticky_panel: "show"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9664;
<% end %>

<% when "show" %>
<a id="create_private_sticky_btn" style="cursor:pointer;"><div class='create-btn private-border'><i class='fa fa-plus'></i><%= t('.private_sticky') %></div></a>
<% if (session[:nav_section] == "open_courses") || ((session[:nav_section] == "repository") && (session[:nav_controller] == "courses")) %>
<a id="create_course_sticky_btn" style="cursor:pointer;"><div class='create-btn course-border'><i class='fa fa-plus'></i><%= t('.course_sticky') %></div></a>
<% end %>
<%= link_to({action: "ajax_arrange_sticky_panel", content_id: @sticky.content_id, target_type: "page", target_id: @sticky.target_id, sticky_panel: "mini"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9660;
<% end %>
<%= render partial: "stickies/sticky_btns", locals: {hash: {action: "ajax_arrange_sticky_panel", content_id: @sticky.content_id, target_type: "page", target_id: @sticky.target_id, sticky_panel: "show"}} %>

<% when "edit" %>
<%= link_to({action: "ajax_arrange_sticky_panel", content_id: @sticky.content_id, target_type: "page", target_id: @sticky.target_id, sticky_panel: "mini"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9660;
<% end %>
<% end %>


<% else %>
<!-- FIXME: note_sticky  -->
<% case session[:sticky_panel] when "mini" %>
<%= link_to({action: "ajax_arrange_sticky_panel", target_type: "note", target_id: @sticky.target_id, sticky_panel: "show"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9664;
<% end %>

<% when "show" %>
<a id="create_course_sticky_btn" style="cursor:pointer;"><div class='create-btn course-border'><i class='fa fa-plus'></i><%= t('.course_sticky') %></div></a>
<%= link_to({action: "ajax_arrange_sticky_panel", target_type: "note", target_id: @sticky.target_id, sticky_panel: "mini"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9660;
<% end %>
<%= render partial: "stickies/sticky_btns", locals: {hash: {action: "ajax_arrange_sticky_panel", target_type: "note", target_id: @sticky.target_id, sticky_panel: "show"}} %>

<% when "edit" %>
<%= link_to({action: "ajax_arrange_sticky_panel", target_type: "note", target_id: @sticky.target_id, sticky_panel: "mini"}, {remote: true, id: "sticky-num-indicator"}) do %>
<%= stickies.size %> &#9660;
<% end %>
<% end %>

<% end %>


<script>
$("#create_course_sticky_btn").click(function(){toggleCreateSticky("course");});
$("#create_private_sticky_btn").click(function(){toggleCreateSticky("private");});
</script>
