<div id="simple-html-content">
  <div id="container" class="assignment-page">
    <div id="content">
      <h1><%= t('.assignment') %> : <%= t('activerecord.others.content.as_category.' + @content.as_category) %>
        <% if @lesson and !@lesson.new_record? %>
        [ <%= lesson_evaluator_text @lesson.evaluator_id %> ]
        <% end %>
      </h1>

      <div class="loc abstract">
        <div class="loc-header"><%= t('activerecord.attributes.content.as_overview') %></div>
        <div class="loc-body">
          <% if session[:nav_section] == 'home' %>
          マニュアルには課題はありません（このページは課題ページのサンプルです）。
          <% else %>
          <%= sanitize add_br @content.as_overview %>
          <% end %>
        </div>
      </div>

      <% if session[:nav_section] != 'home' %>
      <div id="outcome">
        <% case @lesson_role when 'learner' %>
        <%= render partial: 'outcomes/learner', collection: @outcomes %>
        <% when 'evaluator', 'manager' %>
        <div class="accordion" id="outcome_accordion">
          <%= render partial: 'outcomes/evaluator', collection: @outcomes %>
        </div>
        <% else %>
        <%= render partial: 'outcomes/observer', collection: @outcomes %>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>
</div>

<div id="sticky-panel">
<%= render partial: 'stickies/sticky_panel', locals: { stickies: pg['stickies'] } %>
</div>

<%= render partial: 'layouts/highlight_btns' %>

<script>
<% if @course %>
showCreateHighlightBtns($('#simple-html-content'), document);
<% current_user.highlight_texts(@course.lesson_note(session[:id]).id, pg['file_id']).each do |highlight| %>
showHighlight(document, '', <%= highlight[0] %>, "<%= highlight[1] %>");
<% end %>
<% end %>
</script>

<script>
$(function () {
  autosize($('.elastic_textarea'));
  autosize.update($('.elastic_textarea'));
  if ("<%= @lesson_role %>" == "evaluator"){
    $("input").change(function () {
      var outcome_id = $(this).parent().parent().data("lepo-outcome-id");
      var objective_id = $(this).parent().parent().data("lepo-objective-id");
      displayObjectiveTemplateBtn(outcome_id, objective_id);
    })
  }
})
</script>
