<% selected_form = (@form_category == 'search') %>

<div class="bordered-block <%= 'selected' if selected_form %> clearfix">
  <h2>メンバーのキーワード検索と登録
    <div class="header-explanation"><%= t('activerecord.attributes.user.signin_name') %> / 氏名で検索</div>
  </h2>
  <%= form_tag({action: 'ajax_search_candidates'}, remote: true) do %>
  <div class="form-group form-row">
    <%= label :search_word, 'User ID / 氏名' , class: 'col-md-2 col-form-label text-sm-right' %>
    <% search_word = @search_word ? @search_word : '' %>
    <%= text_field_tag 'search_word', search_word, class: 'col-md-4 form-control input-lg', placeholder: t('.search_word') %>
    <%= label :member_rolerole, '役割' , class: 'col-md-1 col-form-label text-sm-right' %>
    <%= select_tag 'member_role', options_for_select(member_role_options(update_model), @member_role),  class: 'col-md-4 form-control input-lg' %>
    <%= hidden_field_tag 'content_id', @content.id if update_model == 'content_member' %>
  </div>

  <div class="form-group form-row text-right">
    <div class="col-md-11">
      <%= render partial: 'layouts/buttons/search' %>
    </div>
  </div>
  <% end %>

  <% if selected_form %>
  <% category = (update_model == 'content_member') ? 'content' : 'course' %>
  <%= render(partial: 'layouts/member_candidates', locals: {title: '検索結果', category: category, form_category: 'search', users: @candidates, resource_id: resource_id, footer: ''}) %>
  <% end %>
</div>
