<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="2"><%= t('.page_operations') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="action"><%= t('.one_page_back') %></td>
      <td class="key">&larr; / j</td>
    </tr>
    <tr>
      <td class="action"><%= t('.one_page_next') %></td>
      <td class="key">&rarr; / k</td>
    </tr>
    <tr>
      <td class="action"><%= t('.five_pages_back') %></td>
      <td class="key">Shift + &larr; / Shift + j</td>
    </tr>
    <tr>
      <td class="action"><%= t('.five_pages_next') %></td>
      <td class="key">Shift + &rarr; / Shift + k</td>
    </tr>
    <tr>
      <td class="action"><%= t('.cover_page') %></td>
      <td class="key">Shift + &uarr;</td>
    </tr>
    <tr>
      <td class="action"><%= t('.assignment_page') %></td>
      <td class="key">Shift + &darr;</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="2"><%= t('.sticky_operations') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="action"><%= t('.create_sticky') %></td>
      <td class="key">l</td>
    </tr>
    <tr>
      <td class="action"><%= t('.submit_edited_sticky') %></td>
      <td class="key">Shift + Enter</td>
    </tr>
    <tr>
      <td class="action"><%= t('.cancel_edited_sticky') %></td>
      <td class="key">Esc</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="2"><%= t('.other_operations') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="action"><%= t('.toggle_sub_pane_display') %></td>
      <td class="key">f</td>
    </tr>
    <tr>
      <td class="action"><%= t('.toggle_lesson_note_display') %></td>
      <td class="key">n</td>
    </tr>
    <tr>
      <td class="action"><%= t('.toggle_message_card') %></td>
      <td class="key">?</td>
    </tr>
  </tbody>
</table>
