<div id="snippet-<%= snippet.id %>" class="draggable">
  <div id="snippet-<%= snippet.id %>-item">
    <%= render(partial: "snippets/items/#{snippet.category}", locals: {snippet: snippet, editable_snippet: editable_snippet}) %>
  </div>
  <% if editable_snippet %>
  <% case snippet.source_type when 'direct' %>
  <%= render(partial: 'snippets/edit', locals: {snippet: snippet, display_order: snippet.display_order_for(@note.id), note_id: @note.id}) %>
  <%= render(partial: 'snippets/create_snippet_btns', locals: {display_order: snippet.display_order_for(@note.id), note_id: @note.id}) %>
  <% when 'upload' %>
  <%= render(partial: 'snippets/create_snippet_btns', locals: {display_order: snippet.display_order_for(@note.id), note_id: @note.id}) %>
  <% when 'web' %>
  <%= render(partial: 'snippets/edit_pdf', locals: {snippet: snippet}) if snippet.category == 'pdf' %>
  <%= render(partial: 'snippets/create_snippet_btns', locals: {display_order: snippet.display_order_for(@note.id), note_id: @note.id}) if snippet.note_indices.size > 0 %>
  <% end %>
  <% end %>
</div>
